@import 'tailwindcss';
/* ------------------------------------------------------------- */

@custom-variant dark (&:is(.dark *));
:root {
	font-family: 'ClearSans', sans-serif;
	
	--background: oklch(0.9782 0.012 96.4); 
	--foreground: oklch(0.5438 0.0178 67.44);
	--board: oklch(0.7558 0.024 65.3);
	--tile-empty: oklch(0.8241 0.022 69.7);
	--tile-text-dark: oklch(0.4626 0.0185 67.34);
	--tile-text: oklch(0.9743 0.0062 75.41);
	--button: oklch(0.5936 0.0392 65.56);
	--tile-2: oklch(0.924 0.0173 67.61);
	--tile-4: oklch(0.9108 0.035 82.9);
	--tile-8: oklch(0.8091 0.105 61.2);
	--tile-16: oklch(0.7595 0.133 47);
	--tile-32: oklch(0.7204 0.156 34.5);
	--tile-64: oklch(0.65 0.193 34.3);
	--tile-128: oklch(0.8608 0.118 91.9);
	--tile-256: oklch(0.8528 0.131 92.2);
	--tile-512: oklch(0.8431 0.142 91.7);
	--tile-1024: oklch(0.8358 0.151 91.6);
	--tile-2048: oklch(0.8289 0.158 91);
}

.dark {
	--background: oklch(0.2 0.03 60);
	--foreground: oklch(0.90 0.01 80);
	--board: oklch(0.25 0.04 55);
	--tile-empty: oklch(0.305 0.04 60);
	--tile-text-dark: oklch(0.95 0.005 85);
	--tile-text: oklch(0.97 0.005 85);
	--button: oklch(0.40 0.06 55);
	--tile-2: oklch(0.41 0.04 60);
	--tile-4: oklch(0.43 0.06 65);
	--tile-8: oklch(0.55 0.10 45);
	--tile-16: oklch(0.50 0.12 40);
	--tile-32: oklch(0.46 0.13 35);
	--tile-64: oklch(0.42 0.14 30);
	--tile-128: oklch(0.65 0.09 80);
	--tile-256: oklch(0.63 0.10 82);
	--tile-512: oklch(0.60 0.11 85);
	--tile-1024: oklch(0.57 0.12 87);
	--tile-2048: oklch(0.54 0.13 90);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-board: var(--board);
	--color-tile-empty: var(--tile-empty);
	--color-tile-text-dark: var(--tile-text-dark);
	--color-tile-text: var(--tile-text);
	--color-button: var(--button);
	--color-tile-2: var(--tile-2);
	--color-tile-4: var(--tile-4);
	--color-tile-8: var(--tile-8);
	--color-tile-16: var(--tile-16);
	--color-tile-32: var(--tile-32);
	--color-tile-64: var(--tile-64);
	--color-tile-128: var(--tile-128);
	--color-tile-256: var(--tile-256);
	--color-tile-512: var(--tile-512);
	--color-tile-1024: var(--tile-1024);
	--color-tile-2048: var(--tile-2048);
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
  
/* ------------------------------------------------------------- */