@import 'tailwindcss';
@import "tw-animate-css";
/* ------------------------------------------------------------- */

@custom-variant dark (&:is(.theme-dark *));
@custom-variant cyberpunk (&:is(.theme-cyberpunk *));
:root {
	font-family: 'ClearSans', sans-serif;

	--background: oklch(0.9782 0.012 96.4); 
	--foreground: oklch(0.5438 0.0178 67.44);
	--board: oklch(0.7558 0.024 65.3);
	--tile-empty: oklch(0.8241 0.022 69.7);
	--tile-text: oklch(0.9743 0.0062 75.41);
	--tile-text-alt: oklch(0.4626 0.0185 67.34);
	--button: oklch(0.5936 0.0392 65.56);
	--tile-2: oklch(0.924 0.0173 67.61);
	--tile-4: oklch(0.9108 0.035 82.9);
	--tile-8: oklch(0.8091 0.125 61.2);
	--tile-16: oklch(0.7595 0.133 47);
	--tile-32: oklch(0.7204 0.156 34.5);
	--tile-64: oklch(0.65 0.193 34.3);
	--tile-128: oklch(0.8358 0.158 91.9);
	--tile-256: oklch(0.8628 0.11 92.2);
	--tile-512: oklch(0.8031 0.192 91.7);
	--tile-1024: oklch(0.8358 0.151 91.6);
	--tile-2048: oklch(0.8289 0.158 91);
}

.theme-dark {
	--background: oklch(0.21 0.02 80);
	--foreground: oklch(0.95 0.005 85);
	--board: oklch(0.305 0.03 60);
	--tile-empty: oklch(0.34 0.025 40.3627);
	--tile-text: oklch(0.97 0.005 85);
	--tile-text-alt: oklch(0.95 0.005 85);
	--button: oklch(0.35 0.034 55);
	--tile-2: oklch(0.42 0.034 80);
	--tile-4: oklch(0.443 0.085 75);
	--tile-8: oklch(0.58 0.14 45);
	--tile-16: oklch(0.46 0.16 40);
	--tile-32: oklch(0.44 0.18 35);
	--tile-64: oklch(0.37 0.17 30);
	--tile-128: oklch(0.6 0.14 80);
	--tile-256: oklch(0.67 0.13 82);
	--tile-512: oklch(0.60 0.11 85);
	--tile-1024: oklch(0.57 0.12 87);
	--tile-2048: oklch(0.54 0.13 90);
}

.theme-cyberpunk {
	--background: oklch(0.3649 0.0452 281.8285);
	--foreground: oklch(0.9513 0.0074 260.7315);    
	--board: oklch(0.235 0.05 265);
	--tile-empty: oklch(0.2992 0.0611 281.1423);      
	--tile-text: oklch(0.96 0.06 155);
	--tile-text-alt: oklch(0.96 0.06 155);
	--button: oklch(0.45 0.25 310);         
	--tile-2: oklch(0.78 0.26 150);
	--tile-4: oklch(0.6726 0.2904 341.4084);
	--tile-8: oklch(0.7 0.3 195);
	--tile-16: oklch(0.67 0.6 215);
	--tile-32: oklch(0.61 0.6 235);
	--tile-64: oklch(0.76 0.26 130);
	--tile-128: oklch(0.7 0.32 290);
	--tile-256: oklch(0.68 0.34 310);
	--tile-512: oklch(0.66 0.36 330);
	--tile-1024: oklch(0.64 0.38 350);
	--tile-2048: oklch(0.62 0.4 10);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-board: var(--board);
	--color-tile-empty: var(--tile-empty);
	--color-tile-text: var(--tile-text);
	--color-tile-text-alt: var(--tile-text-alt);
	--color-button: var(--button);
	--color-tile-2: var(--tile-2);
	--color-tile-4: var(--tile-4);
	--color-tile-8: var(--tile-8);
	--color-tile-16: var(--tile-16);
	--color-tile-32: var(--tile-32);
	--color-tile-64: var(--tile-64);
	--color-tile-128: var(--tile-128);
	--color-tile-256: var(--tile-256);
	--color-tile-512: var(--tile-512);
	--color-tile-1024: var(--tile-1024);
	--color-tile-2048: var(--tile-2048);
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

/* ------------------------------------------------------------- */

@layer base {
	body {
    	@apply bg-background text-foreground;
	}

    .animated-score {
		@apply absolute top-1/2 left-1/2 -translate-x-7 -translate-y-1/2 text-tile-text-alt/80 whitespace-nowrap;
	}

	.animated-tile {
		@apply absolute rounded-xl h-[100px] w-[100px] flex items-center justify-center;
	}
}