@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
:root {
	font-family: 'ClearSans', sans-serif;
	
	--background: oklch(0.9782 0.012 96.4); 
	--foreground: oklch(0.5438 0.0178 67.44);

	--board: oklch(0.7558 0.024 65.3); /* #bbada0 */
	--tile-empty: oklch(0.8241 0.022 69.7); /* #ccc0b3 */

	--tile-text: oklch(0.4626 0.0185 67.34);
	--tile-text-light: oklch(0.9743 0.0062 75.41);
	--button: oklch(0.5936 0.0392 65.56);

	/* tiles (background) */
	--tile-2: oklch(0.924 0.0173 67.61); /* #eee4da */
	--tile-4: oklch(0.9108 0.035 82.9); /* #ede0c8 */
	--tile-8: oklch(0.8091 0.105 61.2); /* #f2b179 */
	--tile-16: oklch(0.7595 0.133 47); /* #f59563 */
	--tile-32: oklch(0.7204 0.156 34.5); /* #f67c5f */
	--tile-64: oklch0.(6.5 0.193 34.3); /* #f65e3b */
	--tile-128: oklch(0.8608 0.118 91.9); /* #edcf72 */
	--tile-256: oklch(0.8528 0.131 92.2); /* #edcc61 */
	--tile-512: oklch(0.8431 0.142 91.7); /* #edc850 */
	--tile-1024: oklch(0.8358 0.151 91.6); /* #edc53f */
	--tile-2048: oklch(0.8289 0.158 91); /* #edc22e */
}

.dark {
	--background: oklch(0.9782 0.012 96.4);
	--foreground: oklch(0.5438 0.0178 67.44);
	--board: oklch(0.7558 0.024 65.3); /* #bbada0 */
	--tile-empty: oklch(0.8141 0.022 69.7); /* #ccc0b3 */
	--button: oklch(0.5936 0.0392 65.56);
	--tile-text: oklch(0.4626 0.0185 67.34);
	--tile-text-light: oklch(0.9743 0.0062 75.41);
	--tile-2: oklch(0.924 0.0173 67.61); /* #eee4da */
	--tile-4: oklch(0.9108 0.035 82.9); /* #ede0c8 */
	--tile-8: oklch(0.8091 0.105 61.2); /* #f2b179 */
	--tile-16: oklch(0.7595 0.133 47); /* #f59563 */
	--tile-32: oklch(0.7204 0.156 34.5); /* #f67c5f */
	--tile-64: oklch0.(6.5 0.193 34.3); /* #f65e3b */
	--tile-128: oklch(0.8608 0.118 91.9); /* #edcf72 */
	--tile-256: oklch(0.8528 0.131 92.2); /* #edcc61 */
	--tile-512: oklch(0.8431 0.142 91.7); /* #edc850 */
	--tile-1024: oklch(0.8358 0.151 91.6); /* #edc53f */
	--tile-2048: oklch(0.8289 0.158 91); /* #edc22e */
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-board: var(--board);
	--color-tile-empty: var(--tile-empty);
	--color-tile-text: var(--tile-text);
	--color-tile-text-light: var(--tile-text-light);
	--color-button: var(--button);
	--color-tile-2: var(--tile-2);
	--color-tile-4: var(--tile-4);
	--color-tile-8: var(--tile-8);
	--color-tile-16: var(--tile-16);
	--color-tile-32: var(--tile-32);
	--color-tile-64: var(--tile-64);
	--color-tile-128: var(--tile-128);
	--color-tile-256: var(--tile-256);
	--color-tile-512: var(--tile-512);
	--color-tile-1024: var(--tile-1024);
	--color-tile-2048: var(--tile-2048);
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ClearSans';
	src: url('/fonts/ClearSans/ClearSans-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
  
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */


@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
